#define stream of messages. after server you have to specify correct docker compose host name
upstream finplat-ui {
    server finplat-ui:3000;
}

upstream finplat-api {
    server finplat-api:7070;
}

server {
    #Nginx will listen to default port
    listen 80;

    #Redirect to the container with docker compose hostname 'finplat-ui' all urls started with /
    location / {
        proxy_pass http://finplat-ui;
    }

    #Redirect to the container with docker compose hostname 'finplat-ui' all urls started with /
    location /api {
        proxy_pass http://finplat-api;
    }
}